/* Drill 1 - Write your code solution below */
.d1-container {
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
.d2-container {
    padding: 24px 48px;
}

/* Drill 3 - Write your code solution below */
.d3-container {
    padding: 24px 48px;
}


/* Drill 4 - Write your code solution below */


/* Drill 5 - Write your code solution below */

