@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    margin: 0px;
    font-family: "Playfair Display", serif;
    background-color: #F9F6EE;
    color: black;
}
img {
    width: 100%;
    object-fit: cover;
}
#layout {
    min-width:480px;
    max-width: 1400px;
    margin: 0px auto;
}

#layout2 {
    min-width:480px;
    max-width: 1400px;
    margin: 0px auto;
}
/* Navbar */
#navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 2;
    font-size: 25px;
    align-items: center;
    gap: 20px;
    padding: 0px 60px;
}
#navbar img {
    width: 40%;
    border-radius: 15px;
    margin-right: auto;
}
#navbar a {
    justify-content: center;
    color: #F9F6EE;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 50px 0px;
    display: inline-block;
}

#navbar h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    align-items: flex-start;
}

.drop {
    position: relative;
    font-size: 55px;
}
.drop:hover .menu {
    opacity: 1;
    visibility: visible;
}
.menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
#navbar .menu a {
    display: inline-block;
    background-color: oldlace;
    color: black;
    padding: 24px;
    width: 100%;
    min-width: 300px;
}
#navbar .menu a:hover {
    background-color: #F9F6EE;
    color: black;
}
#navbar #logo {
    display: flex;
    padding: 0px;
    width: 100%;
}

/* Hero */
.hero {
    background-image: url("../images/forest.jpeg");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero2 {
    background-image: url("../images/steak.jpg");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
h1 {
    font-size: 80px;
    font-style: italic;
    color: #F9F6EE;
    letter-spacing: 1px;
}
h4 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 50px;
    color:white;
    opacity: 0.8;
    letter-spacing: 1px;
}

#layout .hero a {
    background-color:#525C51;
    color: white;
    font-size: 18px;
    font-weight: bold;
    gap: 24px;
    padding: 20px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    opacity: 0.9;
}

/* Side by Side */
.side-by-side {
    display: flex;
    align-items: center;
    margin: 40px 20px;
    padding: 15px 0px;
     
}
.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img {
    width: 100%;
    height: 100%;
}

.side-by-side .text-container h2 {
    font-size: 16px;
    font-family: "Playfair Display", serif;
    color: white;
    padding: 24px;
}
.side-by-side .text-container a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 20px 48px;
    margin: 20px;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    text-align: center;
    margin: 30px;
}
#card-section2 .card-container {
    flex-direction: column;

}
#card-section2 .card {
    display: inline-block;
    text-align: center;
    background-color: #F9F6EE;
    color: 191919;
}

#card-section .card {
    flex: 1;
    padding: 25px;
    border: 3px solid #141414;
    text-align: center;
}
#card-section .card img {
    height: 500px;
}

#card-section .card:hover {
    background-color: #141414;
    box-shadow: 4px 4px 4px #000300;
    transform: translateY(-8px);
    color: #F9F6EE;
}

.card h3 {
    font-size: 24px;
    margin: 0px;
}

.card p {
    font-size: 18px;
    margin: 10px 0px 0px;
}
.card span {
    display: block;
}

/* Footer */
#footer {
    background-color: black;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#footer-navbar {
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0px 60px; 
}

/* Media Queries */
@media screen and (max-width: 820px) {
    #layout {
        min-width: 0px;
    }
    #layout2 {
        min-width:0px;    
    }
    #navbar {
        flex-direction: column;
    }
    #navbar a {
        padding: 6px 0px;
    }
    #navbar .drop {
        font-size: 16px;

    }
    #navbar .menu a {
        min-width: 0px;
    }
    #navbar #logo img {
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        height: 70px;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-size: cover;
    }
    h4 {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-size: 44px;
    }
    .side-by-side {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .side-by-side .text-container {
        flex-direction: column;
        padding: 4px;
        align-items: center;
    }

    .side-by-side .image-container img {
        flex-direction: column;
        width:100%;
        align-items: center;
    }

    .side-by-side .text-container h3 {
        font-size: 16px;
    }
    .side-by-side .text-container a {
        flex-direction: column;
        align-items: center;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    #card-section .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #card-section2 .card-container {
        flex-direction: column;

    }
    #card-section2 .card {
        flex-direction: column;
        text-align: center;
    }
    .card h3 {
        font-size: 18px;
    }
    .card p {
        font-size: 14px;
    }
    /* Footer */
    #footer {
        flex-direction: column;
    }
    #footer-navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}