* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(237, 232, 233);
}

#page-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
}

.btn {
    display: inline-block;
    display: flex;
    text-decoration: none;
    background-color: pink;
    margin: 5px 5px;
    padding: 10px 25px;
    border-radius: 25px;
    color: rgb(20, 1, 24);
    font-weight: bold;
    font-size: 1rem;
}
img {
    width: 100%;
    object-fit: cover;
    padding: 5px;
    border: 2px solid white;
}
#seller a {
    text-decoration: none;
    color: rgb(121, 6, 79);
}
#seller .base-info, 
#seller .links {
    display: flex;
    align-items: center;
}
.base-info .image-container {
    width: 50px;
    background-color: gray;
    aspect-ratio: 1 / 1;
    margin-right: 15px;
    border-radius: 50%;
}
.base-info img {
    height: 100%;
    display: block;
    border-radius: 50%;
}
.base-info h3 {
    flex: 2;
    font-size: 1.25em;
}
.container {
    width: 90dvw;
    max-width: 900px;
    margin: 0px auto;
}
#container1 {
    display: flex;
    flex-direction: column;
    margin: 5px 2px 5px;
    padding: 25px;
    align-items: center;
}

h1 {
    color: fuchsia;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;
}
h2 {

    color: black;
    font-family: sans-serif;
}
h6 {
    margin: 5px 5px;
    padding: 5px 5px;
}
#skates2 {
    width: 150px;
}
#skates3 {
    width: 150px;
}
#skates4 {
    width: 150px;
}
#one {
    display: flex;
    border: 2px solid gray;
    margin: 10px 10px;
    padding: 5px 5px 5px;
    justify-content: center;
}
.box {
    display: flex;
}
