* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 36px;
}
.card-content {
    flex: 300px;
    border: 5px solid olive;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(255, 235, 205, 0.39);
}
.card-content h2 {
    text-align: center;
    font-size: 25px;
    color: rgb(53, 5, 5);
}
.card a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    border: 4px solid olive;
    padding: 12px;
    margin-top: 30px;
    background-color: olive;
}
.card-content img {
    width: 400px;
}

#card1:hover {
    background-color: beige;
    box-shadow: 2px 2px 2px #8ca78c;
    transform: translateY(-8px);
}
#card1 {
    transition: background-color 0.5s, box-shadow 0.5, transform 0.5s
}

#card2 a {
    transition: background-color 0.5s, box-shadow 0.5, transform 0.5s
}
#card2:hover a{
    background-color:rgb(69, 24, 8);
    box-shadow: 2px 2px 2px gold;
    transform: translateY(8px);
}


#card3 img {
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.2s
}

#card3:hover img {
    background-color:teal;
    box-shadow: 2px 2px 2px gold;
    transform: translateY(8px);
    opacity: 0;
    visibility: hidden;
}

#card4 {
    position: relative;
}
#card4 a {
    opacity: 0;
    visibility: visible;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
    ;
    transform: translateY(-16px);
}
#card4:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

