/* Drill 1 - Write your code solution below */
.single-column {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
}
.drill1 {
    width: 300px;
}

/* Drill 2 - Write your code solution below */


/* Drill 3 - Write your code solution below */


/* Drill 4 - Write your code solution below */


/* Drill 5 - Write your code solution below */
