
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
}
body {
    margin: 0px;
    font-family: "cormorant garadmond", serif;
    font-size: 1.125rem;
    background-color: rgba(6, 17, 35, 0.727);
    color: white;
}
img {
    width: 100%;
    object-fit: cover;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
    text-decoration: none;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
    margin: 45px;
    border: 25px solid white;
    background-color: rgba(218, 230, 241, 0.639);
    opacity: 0.8;
}
.vertical-masonry-gallery img {
    width: 100%;
}

#hero {
    background-image: url(../images/hi-res/urban-hi-res-2nse.jpg);
    background-size: cover;
    background-position: center center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Courier New', Courier, monospace; 
}

#hero h1 {
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h3 {
    font-size: 35px;
    text-align: center;
    margin-top: 45px;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 50dvh;
}
#cards .card {
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 25px;

}
#cards .card a {
    display: block;
    background-color: azure;
    padding: 15px 25px;
    margin-top: 25px;
}
