* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5C4033;
    background-size: 100%;
    background-position: center center;
}


img {
    width: 100%;
    object-fit: cover;
}
#layout {
    width: 80%;
    min-width: 500px;
    max-width: 0px auto;
    margin: 0px auto;
}

/* Navbar */
#navbar {
    background: linear-gradient(to bottom, coral, peachpuff);
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    font-size: 25px;
    align-items: center;
    gap: 20px;
}

#navbar img {
    width: 15%;
    border-radius: 15px;
}
#navbar a {
    justify-content: center;
    color: #5C4033;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 50px 0px;
    display: inline-block;
}

#navbar h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    align-items: flex-start;
}
#navbar .drop {
    font-size: 25px;

}
.drop {
    position: relative;
}
.drop:hover .menu {
    opacity: 1;
    visibility: visible;
}
.menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
#navbar .menu a {
    display: inline-block;
    background-color: #fdb17e;
    padding: 24px;
    width: 100%;
    min-width: 300px;
}
#navbar .menu a:hover {
    background-color: #C19A6B;
    color: white;
}
#navbar #logo {
    display: flex;
    padding: 0px;
}

.hero {
    background-image: url("../images/furryfriends.jpg");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img {
    width: 100%;
    border-radius: 45px;
}

.side-by-side .text-container h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    padding: 24px;
}
.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: coral;
    color: white;
    padding: 24px 48px;
    border-radius: 48px;
}