@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Limelight&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-size: 100%;
    background-position: center center;
}


img {
    width: 100%;
    object-fit: cover;
}
.container {
    width: 50%;
    min-width: 500px;
    max-width: 0px auto;
    margin: 0px auto;
}

/* Navbar */
#navbar {
    background-color: #80D8C3;
    position: sticky;
    top: 0px;
}
#navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar img {
    width: 15%;
    border-radius: 15px;
}

#navbar a {
    justify-content: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;   
}
#navbar #title {
    font-family:  "Chicle", serif;
    font-size: 20px;
    color: #fbfeff;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero {
    background-image: url("../images/furryfriends.jpg");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paw {
    width: 50%;
    border-radius: 15px;
    display: flex;
}
#text {
    font-family:  curs;
    color: teal;
    font-style: italic;
    font-size: 22px;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img {
    width: 100%;
}

.side-by-side .text-container h3 {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
}
.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: teal;
    color: white;
    padding: 24px 48px;
    border-radius: 48px;
}